@livipdev:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=c23a1c3a5abebfba8df60fd302a0df921b0ee65c
@USERNAME:registry=https://npm.pkg.github.com/marcosrib
registry=https://registry.npmjs.org
